.profile__name {
    margin: 0 0 7px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 114.3%;
    max-width: 336px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    grid-area: main-name;
}

@media (max-width: 1024px) {
    .profile__name {
        font-size: calc(27px + 15 * ((100vw - 320px) / 704));
        max-width: 200px;
        max-height: 100%;
        line-height: 1.22;

    }
}