.popup__input-error {
    display:none;
    opacity: 0;
    color: var(--color-red);
    margin: 5px 0 0;
    max-width: 358px;
    position: absolute;
    padding: 0;
    line-height: 14.5px;
    font-size: 12px;


}