.profile__add-new-card {
    box-sizing: border-box;
    grid-area: add;
    border-radius: 2px;
    background: transparent url("../../../images/profile__add_button.svg") center no-repeat;
    width: 150px;
    height: 50px;
    border: 2px solid var(--color-white);
    cursor: pointer;

}

@media (max-width: 756px) {
    .profile__add-new-card {
        width: auto;
        justify-self: stretch;
        margin-top: 36px;
        background-size: 16px;
    }
}