.profile__description {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    max-width: 336px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    grid-area: descrtiption;
}

@media (max-width: 756px) {
    .profile__description {
        max-width: 250px;
        font-size: 14px;
    }
}