.popup__close {
    background: url("../../../images/popup__close.svg") no-repeat transparent;
    background-size: cover;
    position: absolute;
    top: calc(-8px - 32px);
    right: calc(-8px - 32px);
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

@media (max-width: 756px) {
    .popup__close {
        width: 22px;
        height: 22px;
        right: 0;

    }

}