.card__like {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: url("../../../images/like.svg") no-repeat transparent;
    width: 22px;
    height: 19px;
    grid-area: button;
    justify-self: flex-end;

}

.card__like:hover {
    opacity: .5;
}

.card__like:focus {
    /*outline-color: var(--color-grey);*/
    box-shadow: 0 0 0 3px var(--color-grey);
    outline: none;
}