.card__image {
    object-fit: cover;
    min-height: 282px;
    max-width: 282px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    grid-area: image;
    align-self: center;
    text-align: center;

}