:root {
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #545454;
    --color-red: #FF0000;
    --main-width-container: 880px;
    --mobile-width-container: 282px;
    --bg-color: var(--color-black);
    --text-color: var(--color-white);
    --under-line: rgba(0, 0, 0, .2);
    --unde-line-header: rgba(84, 84, 84, .7);
}