.popup__input-form {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    border: 0;
    border-bottom: var(--under-line) solid 1px;
    padding: 0 0 10px;
    margin-bottom: 30px;
    width: 100%;
}

.popup__input-form:nth-last-of-type(2) {
    margin-bottom: 48px;
}
