.footer {
    max-width: var(--main-width-container);
    color: var(--color-grey);
    font-size: 18px;

}

@media (max-width: 320px) {
    .footer {
        margin-left: 19px;
        font-size: 14px;
    }
}