.card__delete {
    padding: 0;
    margin: 0;
    position: absolute;
    border: none;
    cursor: pointer;
    background: url("../../../images/card__trash-can.svg") no-repeat transparent center;
    background-size: contain;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
}


.card__delete:focus {
    /*outline-color: var(--color-grey);*/
    box-shadow: 0 0 0 2px var(--color-grey);
    outline: none;
}

